body {
  background-image: url(https://popmenucloud.com/cdn-cgi/image/width%3D1200%2Cheight%3D1200%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/umgxckeq/6ac5ef3e-1231-4d4e-91e5-066b2050a805.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2 {
  color: black;
  font-family: cursive;
}
h2 {
  font-size: 50px;
  padding: 140px 20;
  margin: 0;
}
h3 {
  font-size: 28px;
}

.logo {
  max-height: 40px;
  border-radius: 75%;
}

footer .email-link {
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: plum;
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background-color: plum;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: purple;
}
footer .contact-box {
  background-color: plum;
  padding: 30px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
